<!DOCTYPE html>
<html>
  <head>
    <title>Thinknetica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="main container">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>

      <ul>
        <% if user_signed_in? %>
            <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            </li>
        <% else %>
            <% unless current_page?(new_user_session_path) %>
                <li>
                  <%= link_to 'Sign in', new_user_session_path %>
                </li>
            <% end %>

            <% unless current_page?(new_user_registration_path) %>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path %>
                </li>
            <% end %>
        <% end %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
