<!DOCTYPE html>
<html>
  <head>
    <title>Thinknetica</title>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <% unless current_page?(new_user_session_path) %>
          <li>
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
        <% end %>

        <% unless current_page?(new_user_registration_path) %>
          <li>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
